 <div class="weather-container">
        <div class=" current-weather">
        <br>
            <h1 >Currently<br><img src="{{ current.icon }}"> </h1><h2> {{ current.temp }}&#8457;</h2>
            <br>
        </div>
    </div>
    <div class="row">    
        {% for forecast in forecasts %}
            <div class="col">
                <div class="card mb-3 ">
                    <div class="card-body">
                        <h6>{{ forecast.date }}</h6>
                        <p class="h6">H:{{ forecast.high }} / L:{{ forecast.low }}</p>
                        <p class="h6">{{ forecast.main }}</p>
                        <img src="{{ forecast.icon }}">
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
    </div>